%h1 Index phone
= link_to 'Add new phone', new_phone_path
%table{border:1}
  %tr
    %th id
    %th phone_number
    -@phones.each do |p|
      %tr
        %td= p.id
        %td= p.phone_number
        %td= link_to 'Show', phone_path(p.id)
        %td= link_to 'Edit', edit_phone_path(p.id)
        %td= link_to 'Delete', phone_path(p.id), method: :delete