%h1 New user
= link_to 'Add new user', new_user_path
%table{border: 1}
  %tr
    %th Id
    %th Name
    -@users.each do |u|
      %tr
        %td= u.id
        %td= u.name
        %td= link_to 'Show', user_path(u.id)
        %td= link_to 'Edit', edit_user_path(u.id)
        %td= link_to 'Delete', user_path(u.id), method: :delete