%h1 Index user
= link_to 'show all posts', userview_posts_path
%br
= link_to 'Add new user', new_user_path
%p{style: 'color:red'}
  =flash[:odd_id]
%table{border: 1}
  %tr
    %th Id
    %th Name
    -@users.each do |u|
      %tr
        %td= u.id
        %td= u.name
        %td= link_to 'Posts', user_posts_path(u.id)
        %td= link_to 'Phones', user_phones_path(u.id)
        %td= link_to 'Show', user_path(u.id)
        %td= link_to 'Edit', edit_user_path(u.id)
        %td= link_to 'Delete', user_path(u.id), method: :delete if u.id.odd?